*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Stanley";
    src: url("Fonts/Stanley.otf");
}

.logo{
    font-family: "Stanley";
    position: fixed;
    color: white;
    font-size: 32px;
    top: 0;
}
#myVideo{
   
    background-position: center;
    background-size: cover;
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.568);
    min-width: 100%; 
    min-height: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
}